<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Server</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/stylesheets/404.css">
</head>
<body>
    <header>
        <h1>Escape Server - Web Panel</h1>
    </header>
    <main>
        <h3>Not found!</h3>
        <p>Whatever you came for cannot be found!</p>
        <a href="/"><button type="button">Return to Home</button></a>
    </main>
    <footer>
        <p>&copy; 2024 JamesTech & Room 09 Studio</p>
    </footer>
</body>
</html>